<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;700&display=swap" rel="stylesheet">
<!--    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>-->
<!--    <link rel="stylesheet" href="../static/css/style.css">-->
     <link rel="stylesheet" href="/css/style.css">
    <title>LNJ FUND</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="font-family: 'Golos Text', sans-serif;background-color: #151516;">
    <div th:insert="~{blocks/navbar :: navbar}"></div>

    <div class="container marketing mt-3">

        <!-- START THE FEATURETTES -->
        
        <!-- <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div> -->
        <h1 class="fw-bold text-center display-4">Благодійний фонд<br><span class="text-white">Левів на джипі</span></h1>
        <div class="container">
            <div class="row">
              <div class="col-md-8 offset-md-2">
                <video class="img-fluid rounded" controls>
                  <source src="./other/LNJ%20FOND%20SITE.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
          </div>

        <hr class="featurette-divider" id="About">

        <div class="row gx-4">
            <div class="col-md-4">
                <h2 class="fw-bold">Як фонд почав роботу?</h2>
                <p class="lead">Фонд почав роботу після багаторазових особистих звернень про допомогу від підписників до хлопців.</p>
                <a href="#" class="btn btn-primary btn-lg">Зробити донат</a>
            </div>

              <div class="col-md-4">
                <div class="card h-100" style = "background-color: #333;">

                <img src="https://global-uploads.webflow.com/62e7a3da122bd8a3238c43c2/62e7a3da122bd8070e8c441f_Rectangle%201822.webp"
                 class="card-img-top" style="height: 15rem; object-fit: cover;" alt="...">
                <div class="card-body">
                  <h5 class="card-title fw-bold">Наш фокус</h5>
                  <p class="card-text">Ми взяли на себе обов’язок забезпечувати бійців саме <span class="fw-bold">першої лінії фронту,</span> а також бійців гарячих точок.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
                <div class="card h-100" style = "background-color: #333;">
                <img src="https://global-uploads.webflow.com/62e7a3da122bd8a3238c43c2/62e7a3da122bd87fff8c4438_Rectangle%201823.webp"
                 class="card-img-top" style="height: 15rem; object-fit: cover;" alt="...">
                <div class="card-body">
                  <h5 class="card-title fw-bold">Прямі контакти</h5>
                  <p class="card-text">Ведемо пряму комунікацію безпосередньо з ротними, взводними, батальйонами, командирами та <span class="fw-bold">забезпечуємо їх найнеобхіднішим.</span></p>
                </div>
              </div>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row my-5 text-center">
            <h1 class="fw-bold">Команда Благодійного фонду</h1>
            <div class="col-lg-4 d-flex flex-column align-items-center cener">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title><rect width="100%" height="100%" fill="#f0f5f9"></rect>
                    <defs>
                        <clipPath id="circleView">
                            <circle cx="70" cy="70" r="70"/>
                        </clipPath>
                    </defs>
                    <image style="z-index: -1;  position: absolute;bottom: 0;left: 0;width: 100%;height: auto;" 
                    clip-path="url(#circleView)" width="140" height="140" xlink:href="other/Scan1.jpg" />
                </svg>
                <h2 class="fw-bold">Володимир Степанюк</h2>
                <p>Засновник фонду та просто хороший чоловік.Також являється Front-end та Back-end розробником цього сайту.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 d-flex flex-column align-items-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h2 class="fw-bold">Інший персонал</h2>
                <p>Гарний опис😀</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 d-flex flex-column align-items-center">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h2 class="fw-bold">Інший персонал</h2>
                <p>Гарний опис😀</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div>

    <div th:insert="~{blocks/footer :: footer}"></div>

<script src="/script/script.js"></script>
</body>
</html>