<div th::fragment="footer">
        <!-- Footer -->
        <footer class="text-center text-lg-start text-white">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
<!--                            <h6 class="text-uppercase mb-4 font-weight-bold">-->
<!--                                LNJ FUND-->
<!--                            </h6>-->
                            <a class="ps-3" href="/">
                                <img src="https://global-uploads.webflow.com/62e7a3da122bd8a3238c43c2/62e7a3da122bd8446b8c43d5_Logo%20LNJ.svg" alt="">
                            </a>
                            <p>
                                Here you can use rows and columns to organize your footer
                                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Основне</h6>
                            <p>
                                <a class="text-decoration-none footer-grey-color" href="/#About">Як фонд почав роботу?</a>
                            </p>
                            <p>
                                <a class="text-decoration-none footer-grey-color" href="/#Team">Команда Благодійного фонду</a>
                            </p>
                            <p>
                                <a class="text-decoration-none footer-grey-color" href="/#Donate">Донат</a>
                            </p>
                            <p>
                                <a class="text-decoration-none footer-grey-color" href="/#Request">Подати офіційний запит</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <hr class="w-100 clearfix d-md-none" />

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Контакти</h6>
                            <p><a href="mailto:lnjfound@gmail.com" class="fas fa-envelope mr-3 text-decoration-none footer-grey-color">
                                lnjfound@gmail.com
                                </a>
                            </p>
                            <p><i class="fas fa-print mr-3"></i> БО "БФ "ЛЕВИ НА ДЖИПІ",<br> ЄДРПОУ 44818362</p>
                            <p><a href="tel:+380682184354" class="fas fa-phone mr-3 text-decoration-none footer-grey-color">
                                +38 (068) 218-43-54
                                </a>
                            </p>
                            <p><i class="fas fa-home mr-3"></i>Графік роботи: 10:00 - 18:00</p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Соцмережі фонду</h6>
                            <div class="d-flex">
                                <!-- Facebook -->
                                <p class="me-2">
                                    <a
                                            class=""
                                            href="https://www.facebook.com/lvinajeepe"
                                    >
                                        <img class="footer-icon" src="https://global-uploads.webflow.com/62e7a3da122bd8a3238c43c2/62e7a3da122bd874d98c43e6_Facebook.svg" alt="">
                                    </a>
                                </p>
                                <!-- Instagram -->
                                <p class="me-2">
                                    <a
                                            class=""
                                            href="https://www.instagram.com/lnjfund/"
                                    > <img class="footer-icon" src="https://global-uploads.webflow.com/62e7a3da122bd8a3238c43c2/62e7a3da122bd8d4328c43df_instagram.svg" alt="">
                                    </a>
                                </p>
                                <!-- Youtube -->
                                <p>
                                    <a
                                            class=""
                                            href="https://www.youtube.com/c/%D0%9B%D0%AC%D0%92%D0%AB%D0%9D%D0%90%D0%94%D0%96%D0%98%D0%9F%D0%95"
                                    >
                                        <img class="footer-icon" src="https://global-uploads.webflow.com/62e7a3da122bd8a3238c43c2/62e7a3da122bd81c068c43e9_Youtube.svg" alt="">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div
                    class="text-center p-3"
                    style="background-color: rgba(0, 0, 0, 0.2)"
            >
                © 2023 Copyright:
                <a class="text-white" href="https://github.com/VolodymyrStepaniuk"
                >Volodymyr Stepaniuk</a
                >
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
</div>