<div th:fragment="navbar">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Eleventh navbar example">
        <div class="container-fluid">

            <a class="ps-3" href="/">
                <img src="https://global-uploads.webflow.com/62e7a3da122bd8a3238c43c2/62e7a3da122bd8446b8c43d5_Logo%20LNJ.svg" alt="">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample09">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                    <li class="nav-item">
                        <a class="nav-link active px-2 text-white" aria-current="page" href="/#About">Про фонд</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active px-2 text-white" aria-current="page" href="/#contacts">Контакти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active px-2 text-white" aria-current="page" href="/#About">Часті питання</a>
                    </li>
                </ul>

                <div class="navbar__phone-wrapper pe-3">
                    <div class="phone-wrapper">
                        <a href="tel:+380682184354" class="navbar__phone d-flex align-items-center">
                            <img src="https://global-uploads.webflow.com/62e7a3da122bd8a3238c43c2/62e7a3da122bd8e2c48c43dc_Phone.svg"
                                 alt="Phone icon" class="phone-icon me-2" />
                            <div class="text text-bold-brand">+38 (068) 218-43-54</div>
                        </a>
                    </div>
                    <div class="navbar__phone-text text-white">Графік роботи: <strong>10:00 - 18:00</strong></div>
                </div>
            </div>

        </div>
    </nav>

</div>